<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <p>Página Index</p>
    
    <%= "Nome: " + usuario.nome %>
    <br/>
    <%= "E-mail: " + usuario.email %>
    <br/>
    <br/>

    <form action="/logout" method="GET">
        <button>Sair</button>
    </form>
</body>
</html>


