<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <p>Página Login</p>
    <form action="/login" method="POST">
        E-mail: <input type="email" name="email" required>
        <br/>
        Senha: <input type="password" name="senha" required>
        <br/>
        <br/>
        <button>Entrar</button>
    </form>
</body>
</html>

